NODE_ENV="development"

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/your_database"
PORT="3000"

JWT_SECRET="your-jwt-secret"
JWT_EXP="15m"

JWT_REFRESH_SECRET="your-refresh-secret"
JWT_REFRESH_EXP="7d"